
page-home{
    #topButtons{
        display: flex;
        flex-direction: row;
    }
    #topButtons button{
        flex: 1;
    }
}

ion-page.home{
    background-image: url('../../img/letsstart.jpg');
}

ion-page.home > ion-content{
  background-color: transparent;
}